.projectsContainer {
    min-height: 98vh;
    width: 90%;
    margin: auto;
    margin-bottom: 4rem;
    padding-top: 5rem;
}


/* ++++++++++++++++++++++++++++++++++ MEDIA QUERIES ++++++++++++++++++++++++++++++++++  */
@media screen and (min-width: 1000px) {
    .projectsContainer {
        width: 75%;
    }
}