.topnav {
    min-height: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.topLinksContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.topnav code {
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    color: var(--myGreen);
}