.topnav {
    min-height: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.topLinksContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.topnav a,
.topnav a:visited {
    text-decoration: none;
    color: var(--myGreen);
}

.topnav code {
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
}

.topnav .brackets {
    font-weight: normal;
}