.skillsContainer {
    min-height: 98vh;
    display: grid;
    place-content: center;
    width: 90%;
    margin: auto;
}

.skillsContainer a {
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.progLang {
    color: var(--myGreen);
}

.skillsContainer .alxList {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.2rem;
}

.skillsContainer .alxList li {
    display: flex;
    align-items: center;
    color: var(--myGreen);
    font-family: "Roboto Mono", monospace;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.skillsContainer .alxList li .plus {
    color: var(--myGreen);
    margin-right: 0.3rem;
}