.projectCard {
    border: 1px solid rgba(64, 254, 149, 0.3);
    border-radius: 5px;
    padding-top: 1.2rem;
}

.projectCard code {
    font-size: 0.8rem;
    margin: 0 0.7rem;
}

.projectCard .appHeadingDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.7rem;
}

.projectCard .appHeadingDiv h3 {
    font-size: 1.3rem;
}

.projectCard .appHeadingDiv a,
.projectCard .appHeadingDiv a:visited {
    text-decoration: none;
    color: inherit;
}

.projectCard .appHeadingDiv a .githubIcon {
    height: 1.5rem;
    width: 1.5rem;
}

.projectCard .appHeadingDiv a .githubIcon:hover {
    color: purple;
}

.projectCard .appDescription {
    margin: 0 0.7rem;
}

.projectCard .appLanguages {
    margin-top: 2rem;
    border-top: 1px solid rgba(64, 254, 149, 0.3);
    height: 2.5rem;
    display: grid;
    align-items: center;
    justify-content: start;
    padding: 0 0.7rem;
    background-color: #081220;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.projectCard .appLanguages .langSubdiv {
    display: flex;
    align-items: center;
}

.projectCard .appLanguages code {
    border: 1px solid rgba(64, 254, 149, 0.6);
    border-radius: 5px;
    padding: 0.2rem 0.7rem;
    margin: 0;
    opacity: 0.8;
    width: fit-content;
    margin-right: 0.5rem;
    font-size: 0.7rem;
}