.home {
    height: calc(98vh - 5rem);
    display: grid;
    place-content: center;
    text-align: center;
}

.home h1 {
    font-size: 3rem;
    font-weight: 900;
    font-family: "Inter", sans-serif;
    margin: 0;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

.home code {
    margin-bottom: 2rem;
    font-size: 1rem;
    opacity: 0.6;
}