.home {
    height: calc(98vh - 5rem);
    display: grid;
    place-content: center;
    text-align: center;
    padding: 0 0.5rem;
}

.home h1 {
    font-size: 3rem;
    font-weight: 900;
    font-family: "Inter", sans-serif;
    margin: 0;
    margin-bottom: 0.2rem;
    letter-spacing: 1px;
}

.home code {
    font-size: 0.9rem;
    opacity: 0.6;
    margin: 0;
    color: orange;
}

.home p{
    margin-bottom: 2rem;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-top: 2.5rem;
}