.webSubheading {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-bottom: 3rem;
}

.webSubheading hr {
    width: 12rem;
    margin: 0;
    margin-right: 1rem;
    height: 1px;
    background-color: var(--myGreen);
    border: none;
}

.webSubheading h2 {
    color: var(--myGreen);
    /* text-transform: uppercase; */
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
    font-size: 1.2rem;
}